# Importando Dados e Bibliotecas

In [1]:
library(tidyverse)
library(readxl)
library(arrow)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.0     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.1     ✔ tibble    3.2.0
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘arrow’


The following object is masked from ‘package:lubridate’:

    duration


The following object is masked from ‘package:utils’:

    timestamp

In [2]:
dados <- read_excel('../Dados/Bruto/Acoustic_Extinguisher_Fire_Dataset.xlsx')

head(dados)

  SIZE FUEL     DISTANCE DESIBEL AIRFLOW FREQUENCY STATUS
1 1    gasoline 10        96     0.0     75        0
2 1    gasoline 10        96     0.0     72        1
3 1    gasoline 10        96     2.6     70        1
4 1    gasoline 10        96     3.2     68        1
5 1    gasoline 10       109     4.5     67        1
6 1    gasoline 10       109     7.8     66        1

In [3]:
str(dados)

tibble [17,442 × 7] (S3: tbl_df/tbl/data.frame)
 $ SIZE     : num [1:17442] 1 1 1 1 1 1 1 1 1 1 ...
 $ FUEL     : chr [1:17442] "gasoline" "gasoline" "gasoline" "gasoline" ...
 $ DISTANCE : num [1:17442] 10 10 10 10 10 10 10 10 10 10 ...
 $ DESIBEL  : num [1:17442] 96 96 96 96 109 109 103 95 102 93 ...
 $ AIRFLOW  : num [1:17442] 0 0 2.6 3.2 4.5 7.8 9.7 12 13.3 15.4 ...
 $ FREQUENCY: num [1:17442] 75 72 70 68 67 66 65 60 55 52 ...
 $ STATUS   : num [1:17442] 0 1 1 1 1 1 1 1 1 1 ...

# Ajustando os tipos de dados

In [4]:
dados <- dados %>%
    mutate(
        STATUS = as.factor(STATUS),
        FUEL = as.factor(FUEL)
    )

head(dados)

  SIZE FUEL     DISTANCE DESIBEL AIRFLOW FREQUENCY STATUS
1 1    gasoline 10        96     0.0     75        0
2 1    gasoline 10        96     0.0     72        1
3 1    gasoline 10        96     2.6     70        1
4 1    gasoline 10        96     3.2     68        1
5 1    gasoline 10       109     4.5     67        1
6 1    gasoline 10       109     7.8     66        1

# Verificando a quantidade de dados faltantes

In [5]:
qnt_na <- function(dataset) {
    dataset %>%
        summarise_all(funs(sum(is.na(.)))) %>%
        pivot_longer(cols = everything(), names_to = 'Colunas', values_to = 'Quantidade') %>%
        filter(Quantidade > 0) %>%
        arrange(desc(Quantidade))
}

dados %>%
    qnt_na()

Warning message:
“`funs()` was deprecated in dplyr 0.8.0.
ℹ Please use a list of either functions or lambdas:

# Simple named list: list(mean = mean, median = median)

# Auto named with `tibble::lst()`: tibble::lst(mean, median)

# Using lambdas list(~ mean(., trim = .2), ~ median(., na.rm = TRUE))”

     Colunas Quantidade

# Exportando os Dados

In [6]:
write_parquet(dados, '../Dados/Processado/Extinguisher_Fire.parquet')

read_parquet('../Dados/Processado/Extinguisher_Fire.parquet') %>% head()

  SIZE FUEL     DISTANCE DESIBEL AIRFLOW FREQUENCY STATUS
1 1    gasoline 10        96     0.0     75        0
2 1    gasoline 10        96     0.0     72        1
3 1    gasoline 10        96     2.6     70        1
4 1    gasoline 10        96     3.2     68        1
5 1    gasoline 10       109     4.5     67        1
6 1    gasoline 10       109     7.8     66        1